body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

h1 {
    margin-top: 20px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background: #020617;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.cell:hover {
    background: #1e293b;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
